3. Some areas of potential concern are POEs having a low proportion of referrals, a high average age of referrals, a low percent of total referrals resulting in an IFSP or a lower percent of eligible referrals resulting in an IFSP. How do POEs compare on these metrics, and which POEs are of concern on the basis of one or more of the listed criteria?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
pulled_july = pd.read_csv('../../data/Referral_Data_Pulled_7-1-22.csv')

In [3]:
pulled_july = pulled_july.rename(columns = {'Child ID':'child_ID','County Name':'county_name', 'County SES':'county_ses', 'Child Phase':'child_phase','Service Coordinator':'service_coord','Notification Date':'notif_date','Parent Consent Date':'consent_date','Referral Source Type Name':'referral_source','Initial Eligibility':'initial_elig','Initial Eligibility Date':'elig_date','Initial IFSP Date':'IFSP_begin','Latest IFSP Date':'IFSP_end','Exit Reason':'exit_reason','Exit Date':'exit_date'})
pulled_july

,POE,child_ID,DOB,county_name,County SES,child_phase,Active,service_coord,notif_date,consent_date,referral_source,initial_elig,elig_date,IFSP_begin,IFSP_end,exit_reason,exit_date
0,ET,411812,12/14/2016,Blount,Transitional,Notification,I,Charity Decker,12/16/2016,NaN,DCS,NaN,NaN,NaN,NaN,Unable to contact,12/29/2016
1,ET,417398,4/6/2015,Knox,Transitional,Eligibility,I,Jackie Campbell,4/24/2017,5/2/2017,Parent,Ineligible,5/16/2017,NaN,NaN,Ineligible for Part C,5/16/2017
2,ET,419400,3/4/2016,Roane,Transitional,Notification,I,Kelly Brackney,6/6/2017,NaN,DCS,NaN,NaN,NaN,NaN,Parent decline,6/30/2017
3,ET,397571,5/11/2015,Knox,Transitional,Eligibility,I,Wendy Burton,5/24/2017,6/13/2017,Other,Ineligible,6/16/2017,NaN,NaN,Ineligible for Part C,6/16/2017
4,ET,404648,9/23/2015,Knox,Transitional,IFSP,I,Sarah Scott,7/18/2016,7/28/2016,Other,Eligible,8/1/2016,8/16/2016,7/24/2018,618 - Part B eligibility not determined,9/21/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96575,UC,519094,4/10/2020,Macon,Transitional,Eligibility,I,Sherry Roberts-DS,1/12/2022,1/19/2022,PCP,Ineligible,1/31/2022,NaN,NaN,Ineligible for Part C,1/31/2022
96576,UC,528253,9/12/2020,Sumner,Competitive,IFSP,A,Taylor Lee,5/6/2022,5/11/2022,PCP,Eligible,5/23/2022,5/31/2022,5/31/2022,NaN,NaN
96577,UC,525460,8/27/2019,Sumner,Competitive,Notification,I,Sherry Roberts-DS,3/29/2022,NaN,PCP,NaN,NaN,NaN,NaN,Unable to contact,4/11/2022
96578,UC,528535,2/8/2022,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,5/11/2022,5/27/2022,Parent,NaN,NaN,NaN,NaN,NaN,NaN
96579,UC,514216,2/4/2021,Sumner,Competitive,IFSP,I,Dawn Reed,11/5/2021,11/10/2021,PCP,Eligible,12/1/2021,12/7/2021,12/7/2021,618 - Parent withdraw,2/10/2022

low proportion of referrals...I think what's below is tautological to the raw numbers...wouldn't you need to look at it in the context of the population of those areas, or at least the # of people they're supposed to serve

In [4]:
POE_counts = pulled_july.POE.value_counts().to_frame().reset_index()
POE_counts

  index    POE
0    ET  17123
1    GN  16630
2    MD  14365
3    SC  12789
4    FT   9450
5    UC   7895
6    SE   7655
7    NW   5468
8    SW   5205

In [5]:
POE_counts['total_referrals'] = 96580
POE_counts

  index    POE  total_referrals
0    ET  17123            96580
1    GN  16630            96580
2    MD  14365            96580
3    SC  12789            96580
4    FT   9450            96580
5    UC   7895            96580
6    SE   7655            96580
7    NW   5468            96580
8    SW   5205            96580

In [6]:
POE_counts['POE_makeup'] = (POE_counts['POE'] / POE_counts['total_referrals']).round(decimals=3)*100
POE_counts = POE_counts.rename(columns = {'index':'POE','POE':'count'})
POE_counts

  POE  count  total_referrals  POE_makeup
0  ET  17123            96580        17.7
1  GN  16630            96580        17.2
2  MD  14365            96580        14.9
3  SC  12789            96580        13.2
4  FT   9450            96580         9.8
5  UC   7895            96580         8.2
6  SE   7655            96580         7.9
7  NW   5468            96580         5.7
8  SW   5205            96580         5.4

In [7]:
successful_referrals = pulled_july.loc[pulled_july['child_phase'] == 'IFSP']
successful_referrals

,POE,child_ID,DOB,county_name,County SES,child_phase,Active,service_coord,notif_date,consent_date,referral_source,initial_elig,elig_date,IFSP_begin,IFSP_end,exit_reason,exit_date
4,ET,404648,9/23/2015,Knox,Transitional,IFSP,I,Sarah Scott,7/18/2016,7/28/2016,Other,Eligible,8/1/2016,8/16/2016,7/24/2018,618 - Part B eligibility not determined,9/21/2018
8,ET,409028,9/29/2016,Sevier,Transitional,IFSP,I,Tonia Hodsden,10/18/2016,11/1/2016,DCS,Eligible,11/3/2016,11/22/2016,4/25/2017,618 - Parent withdraw,6/26/2017
14,ET,414869,12/6/2016,Knox,Transitional,IFSP,I,Ashley Jackson,2/23/2017,3/20/2017,DCS,Eligible,3/23/2017,4/3/2017,4/3/2017,618 - Attempts to contact unsuccessful,11/29/2018
18,ET,415371,2/3/2016,Union,At-Risk,IFSP,I,Sarah Scott,5/26/2017,6/14/2017,PCP,Eligible,6/16/2017,7/24/2017,NaN,618 - Attempts to contact unsuccessful,2/15/2018
25,ET,408626,5/11/2014,Knox,Transitional,IFSP,I,Leslie Milligan,10/6/2016,10/21/2016,Parent,Eligible,11/10/2016,11/18/2016,4/5/2017,618 - Part B eligibility not determined,5/10/2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96572,UC,523485,10/23/2019,Sumner,Competitive,IFSP,A,Miriam Espinosa,3/2/2022,3/10/2022,PCP,Eligible,5/11/2022,5/18/2022,6/8/2022,NaN,NaN
96573,UC,528430,1/5/2022,Cumberland,Transitional,IFSP,A,Lisa Davis,5/10/2022,5/18/2022,Parent,Eligible,6/7/2022,6/21/2022,6/21/2022,NaN,NaN
96574,UC,515685,8/14/2019,Sumner,Competitive,IFSP,A,Cindy Willard,12/1/2021,12/7/2021,Parent,Eligible,1/20/2022,1/26/2022,6/21/2022,NaN,NaN
96576,UC,528253,9/12/2020,Sumner,Competitive,IFSP,A,Taylor Lee,5/6/2022,5/11/2022,PCP,Eligible,5/23/2022,5/31/2022,5/31/2022,NaN,NaN
96579,UC,514216,2/4/2021,Sumner,Competitive,IFSP,I,Dawn Reed,11/5/2021,11/10/2021,PCP,Eligible,12/1/2021,12/7/2021,12/7/2021,618 - Parent withdraw,2/10/2022

In [8]:
#POE_counts = pulled_july.POE.value_counts().to_frame().reset_index()
POE_successful_ref = successful_referrals.POE.value_counts().to_frame().reset_index()
POE_successful_ref['total'] = 45493
POE_successful_ref['POE_ISFP_pct'] = (POE_successful_ref['POE'] / POE_successful_ref['total']).round(decimals=3)*100
POE_successful_ref = POE_successful_ref.rename(columns = {'index':'POE','POE':'count','total':'IFSP_total'})
POE_successful_ref

  POE  count  IFSP_total  POE_ISFP_pct
0  ET   7616       45493          16.7
1  GN   7493       45493          16.5
2  SC   7006       45493          15.4
3  MD   6078       45493          13.4
4  FT   4727       45493          10.4
5  UC   4531       45493          10.0
6  SE   3426       45493           7.5
7  SW   2515       45493           5.5
8  NW   2101       45493           4.6

In [9]:
merged = POE_successful_ref.merge(POE_counts, how='inner', on='POE')
merged['ISFP_conversion_rank'] = merged['POE_ISFP_pct'].rank(ascending=False)
merged['POE_makeup_rank'] = merged['POE_makeup'].rank(ascending=False)
merged[['POE', 'ISFP_conversion_rank','POE_ISFP_pct','POE_makeup_rank','POE_makeup']]

  POE  ISFP_conversion_rank  POE_ISFP_pct  POE_makeup_rank  POE_makeup
0  ET                   1.0          16.7              1.0        17.7
1  GN                   2.0          16.5              2.0        17.2
2  SC                   3.0          15.4              4.0        13.2
3  MD                   4.0          13.4              3.0        14.9
4  FT                   5.0          10.4              5.0         9.8
5  UC                   6.0          10.0              6.0         8.2
6  SE                   7.0           7.5              7.0         7.9
7  SW                   8.0           5.5              9.0         5.4
8  NW                   9.0           4.6              8.0         5.7